<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siemens.leadx">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity,NonResizeableActivity,UnusedAttribute"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.createlead.container.CreateLeadActivity"
            android:exported="false"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.container.ProfileActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.login.container.LoginActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeBlackStatusBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.main.container.MainActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.container.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Intent filter to capture System Browser or Authenticator calling back to our app after sign-in -->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.siemens.leadx"
                    android:path="/UlNLZ3AUiMh07cVAKsBYXTcIdtc="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>